@charset "utf-8";

/*
font-family: 'Karla', sans-serif;
font-family: 'Koulen', cursive;
*/

#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "test1 test2 test3"
    "test4 test4 test4"
}

#nav{grid-area: nav;}
header{grid-area: header;}
#test1{grid-area: test1;}
#test2{grid-area: test2;}
#test3{grid-area: test3;}
#test4{grid-area: test4;}
