@charset "utf-8";

/*
font-family: 'Karla', sans-serif;
font-family: 'Koulen', cursive;
*/

section,header{
    background-color: #eee;
    padding: 1rem;
    margin: 1rem;
}

#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "home donate food"
    "why why why"
    "involvedtext involvedtext involvedtitle"
    "stories stories stories"
    ;
}

#nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

header{grid-area: header;}
#home{grid-area: home;}
#donate{grid-area: donate;}
#food{grid-area: food;}
#why{grid-area: why;}
#involvedtext{grid-area: involvedtext;}
#involvedtitle{grid-area: involvedtitle;}
#stories{
    grid-area: stories;
    display: grid;
    grid-template-columns:repeat(1fr 2fr);
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "storytitle caroline"
        "tony caroline";
}

#storytitle{
    grid-area: storytitle;
}

#tony{
    grid-area: tony;
}

#caroline{
    grid-area: caroline;
}
